fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv
email-validator
python-multipart
orjson

sqlalchemy[asyncio]
asyncpg
alembic

pymongo[srv]
redis[hiredis]

PyJWT
pwdlib[argon2]

httpx
openai
tenacity
